.gridInput{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 38px;
  
    div {
      label:not(:last-child){
          input{margin-bottom: 32px};  
      }
    }
  }
  
  .subSubTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #70726D;    
    padding-bottom: 39px;            
  }
  