.secundaryCss{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;

    h3{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #3B3F2F;
    }

    div {
        position: relative;
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p{
        width: 285px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #70726D;
        padding-top: 19px;
    }
}
